<!-- NEW/EDIT QUESTION GROUP MODAL -->
<h2 mat-dialog-title> {{dialogConfig.title}} </h2>

<form id="question_group_form" class="form-horizontal" [formGroup]="questionGroupForm" (ngSubmit)="onSubmit($event)">

  <div mat-dialog-content>
    <div class="row">
      <div class="col-12">

        <!-- TITLE -->
        <div class="form-group">
          <label for="title" class="form-control-label">{{ 'common.title' | translate }}</label>
          <input type="text" class="form-control" formControlName="title" maxlength="60" required />
        </div>

        <!-- DESCRIPTION -->
        <div class="form-group mb-0">
          <label for="description" class="form-control-label">{{ 'common.description' | translate }}</label>
          <textarea type="text" class="form-control" formControlName="description" maxlength="250"></textarea>
        </div>

      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <div class="text-right buttons-container mt-4">
      <button type="button" class="btn btn-sm btn-link text-danger" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
      <button type="submit" class="btn btn-sm btn-primary rounded-pill">{{ 'common.confirm' | translate }}</button>
    </div>
  </div>
</form>
