<!-- PUBLISH SURVEY MODAL -->
<h2 mat-dialog-title> {{dialogConfig.title}} </h2>

<div mat-dialog-content>

  <div class="row align-items-center mb-2 mt-3">
    <div class="col-12">
      <h6 class="mb-0" *ngIf="survey.active; else surveyNotActive">Vuoi disattivare il sondaggio?</h6>
      <ng-template #surveyNotActive>Attiva il sondaggio</ng-template>
    </div>
  </div>

  <!-- Body -->
  <div class="row">
    <div class="col-11 px-1">
      <span class="form-control-label">Link Pubblico</span>
      <input id="urlId" type="text" class="form-control" value="{{publicLink + survey.urlId}}" placeholder="Link pubblico..." readonly />
    </div>
    <div class="col-1 mt-4 p-2">
      <a href="#" (click)="copyToClipboard($event)" data-toggle="tooltip" title="Copy to clipboard"><i class="far fa-copy fa-2x"></i></a>
    </div>
  </div>

  <div  class="row">
    <div class="col-12 py-2">
      <div *ngIf="isError" id="result_message" class="text-center text-xs text-muted mt-2">
        <span id="message" class="text-danger font-weight-bold">*Il sondaggio non contiene gruppi o domande complete.</span>
      </div>
    </div>
  </div>

</div>

<div mat-dialog-actions>
  <div class="text-right buttons-container">
    <button type="button" class="btn btn-sm btn-link text-danger" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-sm btn-primary rounded-pill" (click)="handleSubmit()">{{survey.active ? 'Disattiva' : 'Attiva'}}</button>
  </div>
</div>

