<!-- DELETE SURVEY DIALOG -->
<div class="row justify-content-center mb-2">
  <h2 class="col-auto mat-dialog-title justify-content-center">
    {{ dialogConfig.title }}
  </h2>

  <div class="col-12 mat-dialog-content justify-content-center mb-3">
    <div class="row justify-content-center">
      <div class="col-md-12 justify-content-center">
        <span class="form-control-label justify-content-center">{{
          "common.sendinvitationconfirm" | translate
        }}</span>
        <div
          *ngIf="isError"
          id="result_message"
          class="text-left justify-content-between text-xs text-muted mt-2"
        >
          <span id="error_message" class="font-weight-bold text-danger">{{
            "error.noemailaddress" | translate
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="mat-dialog-actions col-12 justify-content-center">
    <div class="text-right buttons-container">
      <button
        type="button"
        class="btn btn-sm btn-link text-danger"
        (click)="cancel()"
      >
        {{ "common.cancel" | translate }}
      </button>
      <button
        type="button"
        class="btn btn-sm btn-primary rounded-pill"
        (click)="sendInvitationAndPublish()"
        [disabled]="survey.active"
      >
        {{ "common.send" | translate }}
      </button>
    </div>
  </div>
</div>
