<!-- Survey Detail Page -->
<div>
  <!-- Page title -->
  <div class="page-title my-4 mx-2">
    <div class="row justify-content-between align-items-center">
      <!-- Page title + Go Back button -->
      <div class="d-inline-block p-1">

        <div class="row">
          <a [routerLink]="['/dashboard']" title="Home" class="link font-weight-400 pt-1 col-auto my-auto text-white"><i class="fas fa-arrow-left"></i></a>
          <h4 class="font-weight-400 col-auto mb-0 text-white ml-2">{{survey.name}}</h4>
        </div>
      </div>

    </div>
  </div>

  <!-- Listing -->
  <div class="card">

    <!-- SURVEY DETAIL CONTAINER -->
    <div id="survey_detail_section">
      <app-survey-detail [survey]="survey"></app-survey-detail>
    </div>

    <!-- GROUPS CONTAINER -->
    <div id="question_group_section">
      <div *ngFor="let questionGroup of questionGroups;">
        <app-question-group-box [questionGroup]="questionGroup"></app-question-group-box>
      </div>
    </div>

  </div>
  <!-- ./Card -->

</div>
