<!-- Question Group Detail -->
<div>
    <!-- Group Info -->
    <div class="row mb-2">
      <div class="col-11">
        <h5>{{questionGroup.title}}</h5>
        <h6 class="text-muted">{{questionGroup.description}}</h6>
      </div>

      <div class="col-1 my-auto modify">
        <div *ngIf="!readonly" class="text-right">
          <div class="dropdown" data-toggle="dropdown">
            <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="far fa-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" (click)="openEditQuestionGroupModal()" class="dropdown-item">{{ 'common.edit' | translate }}</a>
              <a href="#" (click)="openDeleteQuestionGroupDialog()" class="dropdown-item text-danger">{{ 'common.delete' | translate }}</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- ./Group Info -->

    <!-- Group Questions -->
    <div class="card border mb-0 shadow-none bg-gray-100">
      <div class="card-body row align-items-center justify-content-center">

        <!-- GROUP CONTENTS -->
        <div *ngFor="let question of questionGroup.questions" class="col-12 mx-0 my-0 px-0 py-0">

          <!-- If Choice Question -->
          <div *ngIf="question.questionType === 'App\\MultiQuestion'">
            <app-choice-question [question]="question" [readonly]="readonly"></app-choice-question>
          </div>

          <!-- If Input Question -->
          <div *ngIf="question.questionType === 'App\\InputQuestion'">
            <app-input-question [question]="question" [readonly]="readonly"></app-input-question>
          </div>

          <!-- If Matrix Question -->
          <div *ngIf="question.questionType === 'App\\MatrixQuestion'">
            <app-matrix-question [question]="question" [readonly]="readonly"></app-matrix-question>
          </div>
        </div>

        <!-- ADD QUESTION BUTTON -->
        <div *ngIf="!readonly" class="container modify">

          <div class="row justify-content-md-center">

            <div class="col-auto">
              <a data-toggle="collapse" href="{{'#collapseGroup_' + questionGroup.id}}">
              <div class="col-auto">
                <div class="icon icon-primary btn-sm btn-soft-primary rounded-circle icon-shape">
                  <i class="far fa-plus"></i>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- Question collapse choice -->
        <div class="row collapse justify-content-md-center" id="{{'collapseGroup_' + questionGroup.id}}">

          <div class="col-10 mt-4 mb-0">
            <div class="row justify-content-md-center align-items-center">

              <!-- Single-Choice Question -->
              <div class="col-auto">
                <a href="#" (click)="openChoiceQuestionDialog('RADIO')" data-toggle="modal">
                  <div class="row question-selector justify-content-md-center hover-scale-110 mx-2 m-2">
                    <div class="col-12 align-self-center">
                      <div class="col-12">
                        <img alt="Radio Question" src="/assets/dist/img/icons/custom/radio_single.svg">
                      </div>
                      <div class="col-12">
                        <span>{{ 'question.radioquestion' | translate }}</span>
                      </div>

                    </div>
                  </div>
                </a>
              </div>

              <!-- Multi-Choice Question -->
              <div class="col-auto">
                <a href="#" (click)="openChoiceQuestionDialog('CHECK')" data-toggle="modal">
                  <div class="row question-selector justify-content-md-center hover-scale-110 mx-2 m-2">
                    <div class="col-12 align-self-center">
                      <div class="col-12">
                        <img alt="Multi Choice Question" src="/assets/dist/img/icons/custom/check_single.svg">
                      </div>
                      <div class="col-12">
                        <span>{{ 'question.checkquestion' | translate }}</span>
                      </div>

                    </div>
                  </div>
                </a>
              </div>

              <!-- Selection Question -->
              <div class="col-auto">
                <a href="#" (click)="openChoiceQuestionDialog('SELECT')" data-toggle="modal">
                  <div class="row question-selector justify-content-md-center hover-scale-110 mx-2 m-2">
                    <div class="col-12 align-self-center">
                      <div class="col-12">
                          <img alt="Selection Question" src="/assets/dist/img/icons/custom/select.svg">
                      </div>
                      <div class="col-12">
                        <span>{{ 'question.selectnquestion' | translate }}</span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <!-- Input question -->
              <div class="col-auto">
                <a href="#" (click)="openInputQuestionDialog()" data-toggle="modal">
                  <div class="row question-selector justify-content-md-center hover-scale-110 mx-2 m-2">
                    <div class="col-12 align-self-center">
                      <div class="col-12">
                        <img alt="Radio Question" src="/assets/dist/img/icons/custom/input_text.svg">
                      </div>
                      <div class="col-12">
                        <span>{{ 'question.inputquestion' | translate }}</span>
                      </div>

                    </div>
                  </div>
                </a>
              </div>

              <!-- Matrix Radio Question -->
              <div class="col-auto">
                <a href="#" (click)="openMatrixQuestionDialog('RADIO')" data-toggle="modal">
                  <div class="row question-selector justify-content-md-center hover-scale-110 mx-2 m-2">
                    <div class="col-12 align-self-center">
                      <div class="col-12">
                        <img alt="Radio Question" src="/assets/dist/img/icons/custom/radio_multi.svg">
                      </div>
                      <div class="col-12">
                        <span>{{ 'question.matrixradioquestion' | translate }}</span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <!-- Matrix Check Question -->
              <div class="col-auto">
                <a href="#" (click)="openMatrixQuestionDialog('CHECK')" data-toggle="modal">
                  <div class="row question-selector justify-content-md-center hover-scale-110 mx-2 m-2">
                    <div class="col-12 align-self-center">
                      <div class="col-12">
                        <img alt="Radio Question" src="/assets/dist/img/icons/custom/check_multi.svg">
                      </div>
                      <div class="col-12">
                        <span>{{ 'question.matrixcheckquestion' | translate }}</span>
                      </div>

                    </div>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </div>
        <!-- ./Question collapse choice -->
      </div>

    </div>
    <!-- ./Group questions -->
    </div>

</div>
