<!-- MATRIX QUESTION -->

<div class="col-12 card border shadow-none mb-0 pt-3 pb-0 pr-3 pl-3">

	<!-- Question title -->
	<div class="m-1">
		<h6 class="mb-0">
			<span class="text-danger" *ngIf="question.mandatory">*</span>
			{{question.title}}
		</h6>
	</div>

	<!-- Question File -->
	<div class="row align-items-center mx-0 mt-2 mb-2 justify-content-center">

		<div *ngIf="question.icon != null" class="col-auto">
			<div class="rounded-lg shadow">
				<img class="rounded-lg question-image border question-image"
					src="{{'data:image/png;base64,' + question.icon.data}}">
			</div>
		</div>
	</div>

	<!-- Question options -->
	<div class="row mb-3">
		<div class="col-12 overflow-auto">

			<table class="table table-cards align-items-center" width="100%" cellspacing="0">
				<!-- Show options label -->
				<thead>
					<tr class="table-divider">
						<th scope="col"></th>
						<th class="matrix-options-label" *ngFor="let element of question.elements; index as c"
							id="{{ 'element_'  + c + '_' + question.id}}" scope="col">
							{{element}}
						</th>
					</tr>
				</thead>

				<!-- Show questions -->
				<tbody>
					<tr *ngFor="let option of question.options; index as i;" class="shadow-none">
						<th scope="row">{{option}}</th>
						<td class="matrix-options-label mb-1" *ngFor="let element of question.elements; index as b">

							<div *ngIf="question.type === 'CHECK'" class="custom-control custom-checkbox">
								<div>
									<input type="checkbox" class="custom-control-input"
										id="{{ 'option_'  + i + '_' + b + '_' + question.id}}"
										(click)="checkMatrixAnswerChange(option, element)">
									<label class="custom-control-label"
										for="{{ 'option_'  + i + '_' + b + '_'  + question.id}}"></label>

								</div>

							</div>

							<div *ngIf="question.type === 'RADIO'" class="custom-control custom-radio">
									<input type="radio" id="{{ 'option_'  + i + '_' + b + '_' + question.id}}"
										name="customRadio" class="custom-control-input"
										(click)="radioMatrixAnswerChange(option, element)">
									<label class="custom-control-label"
										for="{{ 'option_'  + i + '_' + b + '_' + question.id}}"></label>
							</div>

						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

</div>

<!-- ./Matrix Question -->