<!-- DELETE QUESTION DIALOG -->
<h2 class="mat-dialog-title">{{dialogConfig.title}}</h2>

<div class="mat-dialog-content">
  <div class="row">
    <div class="col-md-12">
      <span class="form-control-label"> Sei sicuro di voler cancellare la domanda? </span>
    </div>
  </div>
</div>

<div class="mat-dialog-actions">
  <div class="text-right buttons-container">
    <button type="button" class="btn btn-sm btn-link text-danger" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-sm btn-primary rounded-pill" (click)="confirm()">Confirm</button>
  </div>
</div>
