<!-- OVERVIEW PAGE -->
<div>
  <!-- Page title -->
  <div class="page-title my-4 mx-2">
    <div class="row justify-content-between align-items-center">
      <!-- Page title + Go Back button -->
      <div class="d-inline-block p-1">
        <div class="row">
          <a href="#" [routerLink]="['/dashboard']" title="Home" class="link font-weight-400 pt-1 col-auto my-auto text-white">
            <i class="fas fa-arrow-left"></i>
          </a>

          <h4 class="font-weight-400 col-auto mb-0 text-white ml-2">{{survey.name}}</h4>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <!-- Survey overview -->
    <div class="col-xl-6 col-sm-12">
      <div class="row">
        <div class="col-xl-12 col-sm-12">
          <div class="card card-fluid">

            <div class="card-header">
              <h6 class="mb-0">Overview</h6>
            </div>

            <div class="card-body py-3 flex-grow-1">
              <!-- Progress -->
              <div class="pb-4 my-3 border-bottom">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <!-- Avatar -->
                        <img *ngIf="survey.icon == null" class="survey-image" alt="Image placeholder" src="./assets/dist/img/theme/light/brand-avatar-3.png">
                        <img *ngIf="survey.icon != null" class="survey-image" alt="Survey Icon" src="{{survey.icon.data}}">
                    </div>

                </div>
              </div>
              <!-- Description -->
              <p class="text-sm my-1 py-1">{{survey.description}}</p>
            </div>

            <div class="card-footer py-0 pb-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <span class="form-control-label">Secret:</span>
                            </div>
                            <div class="col-8 text-right">
                                <span *ngIf="survey.secret"  id="survey_secret" class="text-right badge badge-success badge-pill mx-2">Yes</span>
                                <span *ngIf="!survey.secret" id="survey_secret" class="text-right badge badge-danger badge-pill mx-2">No</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <span class="form-control-label">Published:</span>
                            </div>
                            <div class="col-8 text-right">
                                <span id="survey_active" *ngIf="survey.active" class="text-right badge badge-success badge-pill mx-2">Yes</span>
                                <span id="survey_active" *ngIf="!survey.active" class="text-right badge badge-danger badge-pill mx-2">No</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <span class="form-control-label">Public Link</span>
                            </div>
                            <div class="col text-right">
                                <span id="urlId" class="text-right">{{survey.urlId}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item px-0">
                        <div class="row justify-content-between">
                            <div class="col-6">
                                <small>Start Date</small>
                                <div *ngIf="survey.startDate" class="h6 mb-0">{{ survey.startDate | date }}</div>
                                <div *ngIf="survey.startDate == null" class="h6 mb-0">Not Provided</div>
                            </div>
                            <div class="col-3">
                                <small>End Date</small>
                                <div *ngIf="survey.endDate" class="h6 mb-0">{{ survey.endDate | date }}</div>
                                <div *ngIf="survey.endDate == null" class="h6 mb-0">Not Provided</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./Survey overview -->

    <div class="col-xl-6 col-sm-12">
        <div class="row">
            <!-- stats card 1 -->
            <div class="col-xl-12 col-sm-6">
                <!-- Stats card -->
                <div class="card card-stats border-0">
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="text-muted mb-1">Answers</h6>
                                <span class="h3 font-weight-bold mb-0">0</span>
                            </div>
                            <div class="col-auto">
                                    <span class="h3 font-weight-bold mb-0" style="color: rgb(54, 179, 126);">
                                        <i class="far fa-user-edit fa-2x"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stats card 2 -->
            <div class="col-xl-12 col-sm-6">
                <!-- Stats card -->
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="text-muted mb-1">Invitations</h6>
                                <span *ngIf="survey.secret" class="h3 font-weight-bold mb-0">{{ survey.invitationPool != null && survey.invitationPool.emails != null ? survey.invitationPool.emails.length : 0}}</span>
                                <span *ngIf="!survey.secret" class="h4 font-weight-bold mb-0">Not disponibile</span>
                            </div>
                            <div class="col-auto">
                              <span class="h3 font-weight-bold mb-0" style="color: rgb(51, 80, 211);">
                                  <i class="far fa-paper-plane fa-2x"></i>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question Overview -->
            <div class="col-xl-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-between">

                            <div class="col-6">
                                <label class="form-control-label">Group</label>
                                <select id="group_select" class="custom-select">
                                    <option value="" selected="true">-- None --</option>
                                    <option *ngFor="let group of questionGroups" [value]="group.id">{{group.title}}</option>
                                </select>
                            </div>

                            <div class="col-6">
                                <label class="form-control-label">Questions</label>
                                <select id="question_select" class="custom-select">
                                    <option id="default_option" value="" selected="true">-- None --</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="card-body answers-container">
                        <!-- Question Title -->
                        <div class="row mb-4">
                            <div class="col-12">
                                <h6 id="question_title" class="text-sm mb-0"></h6>
                            </div>
                        </div>

                        <!-- Answers -->
                        <!-- Answer placeholder -->
                        <div id="answers_paceholder" class="row justify-content-center">
                            <div class="col-12 text-center">
                                        <span id="title_placeholder" class="text-sm text-muted">
                                            Choice Question
                                        </span>
                            </div>
                            <div class="col-2 my-3">
                                <span><i class="fas fa-list fa-4x"></i></span>
                            </div>
                        </div>

                        <div id="spinner_container" class="d-flex justify-content-center"></div>

                        <!-- Answers container -->
                        <div id="answers_container">
                            <!-- Replace content via js -->
                        </div>
                        <!-- ./Answers container -->
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

    <!-- Answers list -->
    <div class="row">
        <div class="col-xl-12">
            <!-- Listing -->
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="mb-0">Answers list</h6>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">

                </div>
            </div>

        </div>
    </div>
    <!-- ./Answers list-->

</div>
