<!-- DELETE SURVEY DIALOG -->
<div class="row justify-content-center mb-3 mt-1">
  <h2 class="col-auto mat-dialog-title justify-content-center">{{ dialogConfig.title }}</h2>

  <div class="col-12 mat-dialog-content justify-content-center mb-3">
    <div class="row">
      <div class="col-md-12">
        <span class="form-control-label justify-content-center">{{ dialogConfig.content }}</span>
      </div>
    </div>
  </div>

  <div class="mat-dialog-actions col-12 justify-content-center">
    <div class="text-right buttons-container">
      <button type="button" class="btn btn-sm btn-link text-danger" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
      <button type="button" class="btn btn-sm btn-primary rounded-pill" (click)="confirm()">{{ 'common.confirm' | translate }}</button>
    </div>
  </div>
</div>
