<!-- QUESTION GROUP BOX -->
<div class="py-1">

  <div *ngFor="let questionGroup of questionGroups" class="card-body pb-0 pt-3 mb-3" title="group-container">
    <app-question-group-detail [questionGroup]="questionGroup" [readonly]="readonly"></app-question-group-detail>
  </div>

  <div *ngIf="!readonly" class="card-body pb-0 pt-3 mb-3">
      <!-- Add Group Button -->
      <div class="card-body mb-4 mt-2 modify">
        <div class="row justify-content-center">
          <div class="col-auto d-flex align-items-center">
            <button id="create_group" type="button" class="btn btn-primary btn-icon rounded-pill"
              (click)="openAddQuestionGroupModal()">
              <span class="btn-inner--icon"><i class="far fa-plus"></i></span>
              <span class="btn-inner--text">{{ 'group.add' | translate }}</span>
            </button>
          </div>
        </div>
      </div>
      <!-- ./Add Group Button-->
  </div>
</div>

