<!-- INPUT QUESTION DIALOG -->
<h2 class="mat-dialog-title">{{dialogConfig.title}}</h2>

<form id="input_question_form" enctype="multipart/form-data" [formGroup]="questionForm" (ngSubmit)="onSubmit($event)">
  <div class="mat-dialog-content">
    <div class="row">
      <div class="col-md-12">

        <!-- Question Text -->
        <div class="form-group">
          <label th:for="title" class="form-control-label">Question </label>
          <input type="text" class="form-control" placeholder="Question title..." data-toggle="autosize" required size="255" maxlength="255" minlength="12"/>
          <mat-error class="font-weight-bold text-danger text-xs mx-1" *ngIf="questionForm.get('title').hasError('required')">*Please insert a title</mat-error>
        </div>

        <!-- Question options -->
        <div class="row">
          <div class="col-12">

            <label class="form-control-label">Options</label>

            <!-- OPTIONS BLOCK -->
            <div id="options_container">

              <div class="row form-group">
                <div name="input_container" class="col-11">
                  <input class="form-control choice-input" type="text" placeholder="Inserisci opzione" required>
                </div>
                <!-- Delete Button -->
                <div name="delete_container" class="col-1 align-self-center">
                  <a href="#"><i class="far fa-trash text-danger"></i></a>
                </div>
                <div id="option_error" class="col-6 align-self-center">
                  <span class="error-message">*Impossibile eliminare l'ultima opzione</span>
                </div>
              </div>

            </div>
          </div>

          <!-- Other choice -->
          <div class="col-12">
            <div class="form-group custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" name="otherchoice" id="otherchoice"/>
              <label class="custom-control-label form-control-label" for="otherchoice">Altro</label>
            </div>
          </div>

          <div class="col-12">

            <!-- ADD BUTTON BLOCK -->
            <div class="row justify-content-center align-items-center">
              <button type="button" class="btn btn-sm btn-soft-primary btn-icon rounded-pill" (click)="addOption()">
                <span class="btn-inner--icon">
                  <i class="far fa-plus"></i>
                </span>

                <!-- ADD OPTION BUTTON -->
                <span class="btn-inner--text">Aggiungi</span>
              </button>
            </div>
          </div>

          <!-- Form errors -->
          <div class="col-12">
            <div class="text-left text-xs text-muted mt-2">
              <span id="form_error_message" class="font-weight-bold text-danger hidden"></span>
            </div>
          </div>
        </div>

        <!-- Advanced option -->
        <div class="form-group">
          <app-advanced [mandatory]="choiceQuestion ? choiceQuestion.mandatory : false" [file]="choiceQuestion ? choiceQuestion.icon : null"></app-advanced>
        </div>
      </div>
    </div>
  </div>

  <div class="mat-dialog-actions">
    <div class="text-right buttons-container">
      <button type="button" class="btn btn-sm btn-link text-danger" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-sm btn-primary rounded-pill">Save</button>
    </div>
  </div>

</form>
