<mat-toolbar>
  <mat-toolbar-row>
    <div class="card-header pt-0">
      <!-- <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12"> -->
          <h3 class="force-margin-0">{{answerTotal}}</h3>
        <!-- </div>
      </div> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Table -->
<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="answers-table" matSort matSortActive="id" matSortDirection="asc"
    matSortDisableClear="true">

    <!-- ID column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let answer">
        <div class="media-body ml-3"><span class="name mb-0 h6 text-sm">{{answer.id}}</span></div>
      </td>
    </ng-container>

    <!-- Email column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let answer">
        <span class="d-block text-sm text-muted mb-3">{{ answer.email ? answer.email : '-' }}</span>
      </td>
    </ng-container>

    <!-- Groups column -->
    <ng-container matColumnDef="questionGroups">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'groups.title' | translate }} </th>
      <td mat-cell *matCellDef="let answer">
        <div *ngFor="let group of answer.questionGroups" style="display: inline;">
          <a [routerLink]="['/answer/surveyanswer/', survey.id, survey.urlId, answer.id]" class="badge badge-secondary">{{ group.title }}</a>&nbsp;
        </div>
      </td>
    </ng-container>

    <!-- Tot Answer column -->
    <ng-container matColumnDef="totAnswers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'answers.totanswers' | translate }} </th>
      <td mat-cell *matCellDef="let answer">
        <div class="d-flex align-items-center">
          <span class="completion mr-2">{{ getPercentageCompletition(answer.totAnswers) }}%</span>
          <div>
            <div class="progress" style="width:100px;">
              <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style]="{'width': getPercentageCompletition(answer.totAnswers) + '%'}"></div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Submitted date column -->
    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'common.createdDate' | translate }} </th>
      <td mat-cell *matCellDef="let answer">
        <span>{{ answer.createDate | date }}</span>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> {{ 'common.actions' | translate }} </th>
      <td mat-cell *matCellDef="let answer" class="action-td">
        <a [routerLink]="['/answer/surveyanswer/', survey.id, survey.urlId, answer.id]" title="Go to answer" data-toggle="tooltip">&nbsp;
          <i class="far fa-door-open fa-2x"></i>
          &nbsp;
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Spinner -->
  <div *ngIf="isLoading" class="mat-spinner-container">
    <mat-progress-spinner class="mat-spinner-color"
      [diameter]="35"
      color="accent"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div class="row table-footer">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <mat-paginator [length]="answerTotal" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent=$event"></mat-paginator>
    </div>
  </div>
</div>
