<mat-toolbar>
  <mat-toolbar-row>
    <div class="card-header">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <h3 class="force-margin-0">{{answerTotal}}</h3>
        </div>
        <div class="col-6 col-sm-6 col-xs-12 my-auto">
          <mat-form-field>
            <input matInput class="dc-search float-right" placeholder="Search Survey"
              (keyup)="filterSubject.next($event.target.value)">
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Table -->
<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="answers-table" matSort matSortActive="id" matSortDirection="asc"
    matSortDisableClear="true">

    <!-- Id Column -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef> Icon </th>
      <td mat-cell *matCellDef="let answer">
        <span><i class="far fa-comment-alt-edit"></i></span>
      </td>
    </ng-container>

    <!-- Name column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let answer">
        {{answer.id}}
      </td>
    </ng-container>

    <!-- Status column -->
    <!-- <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let survey">
        <span class="badge badge-dot mr-4">
          <i [ngClass]="{'bg-success' : survey.active,  'bg-danger': !survey.active}"></i>
          <span class="status"> {{ survey.active ? 'Active' : 'Inactive'}} </span>
        </span>
      </td>
    </ng-container> -->

    <!-- Private column -->
    <!-- <ng-container matColumnDef="private">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Private </th>
      <td mat-cell *matCellDef="let survey">
        <span class="badge badge-dot mr-4">
          <i [ngClass]="{'bg-success' : survey.secret,  'bg-danger': !survey.secret}"></i>
          <span class="status"> {{ survey.secret ? 'Yes' : 'No'}} </span>
        </span>
      </td>
    </ng-container> -->

    <!-- Creation date column -->
    <!-- <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
      <td mat-cell *matCellDef="let survey"> {{survey.createDate}} </td>
    </ng-container> -->

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let survey" class="action-td">
        <a [routerLink]="[detailPage, survey.id]" title="Survey Detail" data-toggle="tooltip">&nbsp;<i class="far fa-clipboard"></i>&nbsp;</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="spinner">
      <th mat-header-cell *matHeaderCellDef>
        <div class="" *ngIf="loading">
          <mat-spinner [diameter]="20"></mat-spinner>
        </div>
      </th>
      <td mat-cell *matCellDef="" class="custom-status-cell">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="row table-footer">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <mat-paginator [length]="answerTotal" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent=$event"></mat-paginator>
    </div>
  </div>
</div>
